.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-claro);
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--cinza-clarin);
}

.header_logo {
    color: var(--branco);
    font-family: var(--fonte-logo);
    font-weight: 700;
    font-size: 1.9em;
}

.nav_item {
    padding: 0.70em 1.25em;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cinza-clarin);
}

.messenger {
    background-image: url(/Images/Messenger.svg);
    background-size: 22px;
}

.bell {
    background-image: url(/Images/bell.svg);
    background-size: 22px;
}

.perfil-photo {
    background-image: url(/Images/perfil.jpg);
    background-size: contain;
}

.messenger, .bell {
    margin-right: 8px;
}

.search-bar {
    width: 35%;
    padding: 0.9em;
    margin-right: 3em;
    border-radius: 29px;
    background-color: var(--cinza-clarin);
    border: none;
}

.search-bar::placeholder {
    background-image: url(/Images/search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-size: 18px;
    color: #ADABAB;
    font-size: 15px;
}