.menu-esquerdo {
    width: 300px;
    margin: 0 0 0 0.5em;
}

.lista__menu-esquerdo {
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.5em;
    padding: 0 0 0.8em 0;
}

.lista__menu-esquerdo hr {
    width: 90%;
}

.item__lista-esquerda {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 8px;
    width: 100vw;
    padding: 0.3em 0.5em;
}

.icone__item {
    width: 28px;
}

.perfil {
    width: 26px;
    border-radius: 30px;
}

.item__lista-esquerda--texto {
    color: var(--texto-primario);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}