.menu-esquerdo {
    width: 280px;
    margin: 0 0 0 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--texto-primario);
}

.perfil__menu-esquerdo, .departments__menu-esquerdo, .groups__menu-esquerdo, .apps__menu-esquerdo {
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.3em;
    padding: 0 0 0.8em 0;
    border-bottom: 0.1em solid var(--cinza-clarin);
}

.item__lista-esquerda {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 8px;
    width: 100vw;
    padding: 0.3em 0.8em;
}

.item__lista-esquerda:hover {
    background-color: var(--cinza-clarin);
}

.icone__item {
    width: 25px;
}

.perfil {
    width: 26px;
    border-radius: 30px;
}

.departments__menu-esquerdo, .groups__menu-esquerdo, .apps__menu-esquerdo {
    margin-top: 0.5em;
}

.apps__menu-esquerdo {
    border: none
}

.rodape {
    padding: 0.3em;
    margin-top: 5em;
    cursor: pointer;
    
}

@media screen and (max-width: 1160px){
    .menu-esquerdo {
        width: 50px;
        margin: 0;
        margin-top: -24px;
        overflow: hidden;
        background-color: var(--cinza-clarin);
        justify-content: center;
        padding: 5px;
    }

    .item__lista-esquerda--texto {
        display: none;
    }

    .rodape {
        display: none;
    }

    .item__lista-esquerda {
        padding: 5px;
        text-align: center;
        display: block;
    }
}